@model IEnumerable<BangazonSite.Models.ProductType>

@{
    ViewData["Title"] = "Product Types";
}

<h2>Product Types</h2>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Label)
                </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var type in (IEnumerable<object>)ViewBag["types"])
    {
        @type
        <div class="row top-buffer">
            <div class="col-md-8">@type.ProductType</div>
            <div class="col-md-2">@type.ProductCount</div>
            <div class="col-md-2">
            </div>
        </div>
    }

</table>
